.contact-banner{
  font-size: 1.65rem;
  z-index: 2147483647;
  position: absolute;
  top: 12px;
  left: 0px;
  right: 0px;
  height: auto;
  color: #ffffff;
  font-style: italic;

  .icon{
    margin-right: 18px;
    font-size: 2.4rem;
  }
}