@import "../../variables";

#content-container {
  background-color: $main-content-bg;
  margin-top:       -45px;
  padding-top:      26px;
  min-height: 600px;

  .inner {
    display: flex;

    .page-content{
      padding-top: 48px;

      h1{
        font-family: 'Great Vibes', cursive;
        font-size: 4.4rem;
      }

    }

  }

  .full-height {
    position: relative;
  }

  .callout-container {
    padding-top: 36px;
    background-color: darken($main-bg, 10%);
    padding-bottom: 40px;
  }

}